section p, section li, article p, article li, article li.build {
    font-family: 'Microsoft Yahei','Helvetica','Crimson Text','Garamond','Palatino','\5FAE\8F6F\96C5\9ED1','\5b8b\4f53', sans-serif;
    text-align: justify;
    font-size: 22px;
    line-height: 1.5em;
}

code {
    font-family: "Source Code Pro",Consolas,Calibri,monospace;
}

slide.segue h2 {
    font-family: "Microsoft YaHei","Open Sans Condensed","Hiragino Sans GB";
  /*  font-weight: 700; */
}

slide:not(.segue) h2 {
    font-family: 'Microsoft Yahei','Signika Negative','Calibri',Arial,'\5FAE\8F6F\96C5\9ED1','\5b8b\4f53',sans-serif;
    color: #CC2904;
}

.title-slide {
    background-color: #ddcaca;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.title-slide hgroup h1 {
    font-size: 65px;
    font-family: 'Microsoft Yahei','Signika Negative','Calibri',Arial,'\5FAE\8F6F\96C5\9ED1','\5b8b\4f53',sans-serif;
    line-height: 1.4;
    letter-spacing: -3px;
    color: #E6DADA;
}


.title-slide hgroup p {
    font-size: 20px;
    color: #DFE0D9;
    line-height: 1.3;
    margin-top: 2em;
}

strong{
  color: #0000CD
}


code {
    font-size: 100%;
    font-family: "Source Code Pro",monospace;
    color: #8B0000;
}

pre {
    line-height: 20px;
    margin-bottom: 10px;
}

.gdbar img {
  width: 200px !important;
  height: 70px !important;
  margin: 8px 8px;
}

.gdbar {
  width: 250px !important;
  height: 88px !important;
}

aside.gdbar {
    height: 97px;
    width: 215px;
    position: absolute;
    left: -1px;
    top: 125px; 
    border-radius: 0px 10px 10px 0px;
    background: transparent -moz-linear-gradient(left center , #E3E3E3, #FFFFFF) no-repeat scroll 0% 0% / 0% 100%;
    transition: all 0.5s ease-out 0.5s;
}



slides > slide:not(.nobackground):before {
  width: 100px;
  height: 35px;
  background-image: none;
  background-size: 100px 35px;
  padding-left: 20px;
}

slides > slide {padding: 20px 50px;}
slides > slide > hgroup + article {
    margin-top: 5px;
}

table.rmdtable{border-bottom:0;}

.final{font-size:48px;font-weight:700;font-family:}

/* Atelier Savanna Light by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/savanna) */

/* plain text */
.pln {
  color: #171c19;
}

@media screen {
  /* string content */
  .str {
    color: #489963;
  }

  /* a keyword */
  .kwd {
    color: #55859b;
  }

  /* a comment */
  .com {
    color: #78877d;
  }

  /* a type name */
  .typ {
    color: #478c90;
  }

  /* a literal value */
  .lit {
    color: #9f713c;
  }

  /* punctuation */
  .pun {
    color: #171c19;
  }

  /* lisp open bracket */
  .opn {
    color: #171c19;
  }

  /* lisp close bracket */
  .clo {
    color: #171c19;
  }

  /* a markup tag name */
  .tag {
    color: #b16139;
  }

  /* a markup attribute name */
  .atn {
    color: #9f713c;
  }

  /* a markup attribute value */
  .atv {
    color: #1c9aa0;
  }

  /* a declaration */
  .dec {
    color: #9f713c;
  }

  /* a variable name */
  .var {
    color: #b16139;
  }

  /* a function name */
  .fun {
    color: #478c90;
  }
}
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #006600;
  }

  .kwd {
    color: #006;
    font-weight: bold;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
    font-weight: bold;
  }

  .lit {
    color: #004444;
  }

  .pun, .opn, .clo {
    color: #444400;
  }

  .tag {
    color: #006;
    font-weight: bold;
  }

  .atn {
    color: #440044;
  }

  .atv {
    color: #006600;
  }
}
/* Style */
pre, pre.prettyprint {
  background: #ecf4ee;
  color: #87928a;
  font-family: Menlo, Consolas, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, monospace;
  /* font-size: 12px; */
  line-height: 1.5;
  border: 1px solid #dfe7e2;
  padding: 10px;
  /* border-radius: 3px; */
}

pre{background: #EFF8D5;}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */
}

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */
}


pre {
    width: 100%;
    left: 0;
    padding: 10px 0px 10px 20px;
}